.Popup {
  width: 300px;
  padding: 16px;
  background-color: #f0f0f0;
  border-radius: 12px;
}

.section {
  background-color: white;
  border-radius: 8px;
  padding: 12px;
  margin-bottom: 16px;
}

.row {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.icon {
  margin-right: 8px;
  font-size: 20px;
}

.secondary {
  margin-left: auto;
  color: #888;
}

.input-row {
  display: flex;
  margin-bottom: 8px;
}

input {
  flex-grow: 1;
  margin-right: 8px;
}

button {
  background-color: #007AFF;
  /* color: white; */
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}
